.wrapper {
  width: 1024px;
  margin: auto;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: teal;
}

h3 {
  font-family: 'Oswald', sans-serif;
  color: teal;
}

h5 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  margin-top: 25px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 75px;
  margin-right: 75px;
}

ul {
  font-family: 'Open Sans Condensed', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
  padding-left: 82px;
}

/*lower padding px as you add more blog posts, 86 padding is for 8 blog posts*/

a {
  display: block;
  color: teal;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: white;
  font-family: 'Oswald', sans-serif;
}

li a:hover {
  background-color: lightgray;
}

.active{
  background-color: lightgray;
}

.image {
   position: relative;
   width: 100%; /* for IE 6 */
}



h2 {
   position: absolute;
   top: -30px;
   left: 20px;
   width: 100%;
   color: white;
   font-family: 'Oswald', sans-serif;
   font-size: 56px;
   padding-left: 335px;
   padding-top: 160px;
}

footer {
  font-family: 'Source Sans Pro', sans-serif;
}

footer a {
  text-align: left;
}
