.wrapper {
  width: 1024px;
  margin: auto;
  text-align: center;
}

header {
  padding-left: 45px;
}

ul {
  font-family: 'Oswald', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

a {
  display: block;
  color: teal;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

footer {
  font-family: 'Source Sans Pro', sans-serif;
}

footer a {
  text-align: center;
  margin-top: -40px;
}


a:hover, a:active {
  color: lightgray;
}





.button {
  display: inline-block;
  position: relative;
  margin-right:-4px;
}

p {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: white;
  font-weight: bold;
  letter-spacing: 4px;
}

#ben {
  background-color: rgba(63, 160, 160, 0.45);
}

#band {
  background-color: rgba(63, 160, 160, 0.45);
}

#crowd {
  background-color: rgba(63, 160, 160, 0.45);
}

a:hover #ben {
  background-color: rgba(5, 14, 14, 0.35);
}

a:hover #band {
  background-color: rgba(5, 14, 14, 0.35);
}

a:hover #crowd {
  background-color: rgba(5, 14, 14, 0.35);
}
