/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* end css reset */

/*START STRUCTURAL STYLES*/

.wrapper {
  width: 90%;
	margin:auto;
	display: table;
}

/*START HEADER STYLES*/

header {
	border:1px solid #fff;
  padding-top: 50px;
	float: left;
	padding-left: 100px;
}

.logo-wrapper img {
	max-width: 25%;
}

/* mobile didnt work delete later*/
@media screen and (max-width: 768px) {

  header {
    text-align: center;
		padding-left : 0;
		margin-bottom: 150px;

  }

	.logo-wrapper img{
		max-width: 60%;
	}

}



/*END HEADER STYLES*/

/*NAV CSS*/
.main-nav {
	width:60px;
	overflow:auto;
	border:1px solid #fff;
	display: table-cell;
	vertical-align:top;
}


.hamburger-nav {
	position:fixed;
	top:12px;
	right:12px;
	border:1px solid #fff;
	display:none;
}

.hamburger-nav > img { width:55px; }

@media screen and (max-width: 700px) {


	.main-nav { display:none;}

	.main-nav ul {
		visibility: hidden;
	}

.hamburger-nav {
	display:inline;
	}

	.portfolio-nav img {
		max-width: 100%;
		margin-top: 0;
	}

}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 50px;
  padding-top: 40px;
  width: 175px;
  font-family: 'Josefin Sans', sans-serif;
  float: left;
	max-width: 70%;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
	max-width: 75%;
}

a:hover, a:active {
  color: lightgray;
}

/* margin top pulls the image map but fricks it up in mobile view. I tried to do the
margin-top 0, and 170px margin in the @media but it didnt work pls help */

.portfolio-nav img {
	max-width: 100%;
	margin-top:-170px;
}

/* START MAIN STYLES*/

article {
	width:400px;
	display: table-cell;
}

main {
  width: 75%;
  margin: auto;
  position:absolute;
  left: 400px;
  top: 40px;
}

.portfolio-img {
  position: relative;
	margin-left: 5px;
	max-width: 95%;
	margin-bottom: 40px;
}


map {
  display: table-cell;
	width: 100%;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
	padding-bottom: 10px;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 460px;
  margin-bottom: 100px;
  margin-right: 100px;
  line-height: 20px;
	margin-top: 10px;
  font-size: .8em;
	width: 35%;
  display: table-cell;
  vertical-align: top;
	text-align: left;
	padding-bottom: 85px;
}

/* footer css */

a {
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	max-width: 75%;
	font-family: 'Josefin Sans', sans-serif;
}

@media screen and (max-width: 768px) {
	article {
		display: block;
		margin: auto;
		text-align: center;
	}

	.portfolio-img {
		position: static;
	}

}

.footer a {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 4px;
  background-color: white;
  text-align: center;
	font-size: 10px;
}
